.vue-ui-tabs
  v-box()

  > .tabs-content
    flex 100% 1 1

  &.animate
    $offset = 50px

    > .tabs-content
      position relative

    .vue-ui-tab-enter-active,
    .vue-ui-tab-leave-active
      transition all .15s cubic-bezier(0.0, 0.0, 0.2, 1)

    .vue-ui-tab-leave-active
      position absolute
      top 0
      left 0
      right 0
      height 0

    .vue-ui-tab-enter,
    .vue-ui-tab-leave-to
      opacity 0

    &.direction-to-right
      .vue-ui-tab-enter
        transform "translateX(%s)" % $offset

      .vue-ui-tab-leave-to
        transform "translateX(-%s)" % $offset

    &.direction-to-left
      .vue-ui-tab-enter
        transform "translateX(-%s)" % $offset

      .vue-ui-tab-leave-to
        transform "translateX(%s)" % $offset